<!DOCTYPE html>

<head>
  <title>Appendix C</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<a href="http://127.0.0.1:9292/"><button class="btn"> <i class="fa fa-home"></i></button></a>
<div class="container">

  <div class='row'>
    <div class="col-sm-4">
      <div class='logo'>
        <div class="title">Logo</div>
      </div>
    </div>
    <div class="col-sm-8">
      <h1>"Fixture Report By Office"</h1>
    </div>
  </div>


  <div class="row">
    <div class="col-4 hr-block"><h2><%= @office_title %></h2></div>
    <div class="col-7 hr-block"></div>
    <div class="col-1 hr-block"><h2><%= @data.values.sum %></h2></div>
    <div class="w-100 d-none d-md-block"></div>
    <% @data.each do |type, sub_count| %>

      <div class="col-1">

      </div>


      <div class="col-6">

      </div>
      <div class="col-2">
        <div class="center"><%= type %></div>
      </div>
      <div class="col-2">

      </div>
      <div class="col-1">
        <div class="center"><%= sub_count %></div>
      </div>
    <% end %>

  </div>
</div>
</body>
</html>
