<!DOCTYPE html>

<head>
  <title>Root</title>
  <link rel="stylesheet" href="/css/search.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>


<body>



<div class="container">

  <div class="container d-flex justify-content-center">
    <div class="card mt-5 p-4">


      <a href="http://127.0.0.1:9292/upload_data/" class="block_inst">
        <div class="d-flex flex-row justify-content-between mb-3 block_t ">
            <div class="d-flex flex-column p-3 ">
              <span class="title_block">Upload data</span>
              <p class="mb-1">uploading file csv (ch3)</p>
            </div>
        </div>
      </a>

      <a href="http://127.0.0.1:9292/reports/states/" class="block_inst">
        <div class="d-flex flex-row justify-content-between mb-3 block_t ">
          <div class="d-flex flex-column p-3 ">
            <span class="title_block">States report</span>
            <p class="mb-1">offices by states (ch4)</p>
            <p class="mb-1"><i>add state name to go to the offices of that state (adv)</i></p>
          </div>
        </div>
      </a>

      <a href="http://127.0.0.1:9292/reports/offices/fixture_types" class="block_inst">
        <div class="d-flex flex-row justify-content-between mb-3 block_t ">
          <div class="d-flex flex-column p-3 ">
            <span class="title_block">Fixtures report</span>
            <p class="mb-1">offices by fixtures (ch5)</p>
            <p class="mb-1"><i>add office id to go to the fixtures of that office (adv)</i></p>
          </div>
        </div>
      </a>

      <a href="http://127.0.0.1:9292/reports/offices/marketing_materials" class="block_inst">
        <div class="d-flex flex-row justify-content-between mb-3 block_t ">
          <div class="d-flex flex-column p-3 ">
            <span class="title_block">Marketing materials report</span>
            <p class="mb-1">Marketing materials by offices (cost, count) (ch6)</p>
            <p class="mb-1"><i>generates donut diagram per office (adv)</i></p>
          </div>
        </div>
      </a>

      <a href="http://127.0.0.1:9292/reports/offices/installation" class="block_inst">
        <div class="d-flex flex-row justify-content-between mb-3 block_t ">
          <div class="d-flex flex-column p-3 ">
            <span class="title_block">Office installation report</span>
            <p class="mb-1">all information by office (ch7)</p>
            <p class="mb-1"><i>search office in root reports installation page(adv)</i></p>
          </div>
        </div>
      </a>



    </div>
  </div>

</div>

</body>
</html>
