<!DOCTYPE html>

<head>
    <title>Appendix E</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <div class="container">

    <div class='row'>
      <% @offices.each do |office| %>
        <a href="http://127.0.0.1:9292/reports/offices/<%= office["id"] %>/installation">
          <%= office["title"] %>
        </a>
        <br>
      <% end %>
    </div>
  </div>
</body>
</html>
